.background-gradient-difference-section {
  background: linear-gradient(180deg, #103061 0%, #0f3777 100%);
}
.background-gradient-difference-section-light {
  background: linear-gradient(180deg, #f2f8fe 0%, #f2f8fe 100%);
}

.netacea-difference-card-dark {
  padding: 1px;
  background: linear-gradient(
      556deg,
      rgba(54, 124, 243, 0.5) -21.93%,
      rgba(54, 124, 243, 0) 20.59%
    ),
    linear-gradient(
      420deg,
      rgba(54, 124, 243, 0.5) -14.01%,
      rgba(54, 124, 243, 0) 17.78%
    ),
    linear-gradient(
      50deg,
      rgba(54, 124, 243, 0.5) -1.83%,
      rgba(54, 124, 243, 0) 16.05%
    );
  transition: all 0.3s;

  &:hover {
    background: rgb(171, 245, 122, 0.5);
  }
}
.netacea-difference-card-light {
  padding: 1px;
  background: linear-gradient(
      291.3deg,
      #c8ccd0 -32.02%,
      rgba(200, 204, 208, 0) 59.64%
    ),
    linear-gradient(163.4deg, #c8ccd0 -60.67%, rgba(200, 204, 208, 0) 47.35%);
  transition: all 0.3s;

  &:hover {
    background: rgb(33 110 242 / 0.5);
  }
}
