body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  background: black;
}

.border-gradient-testimonial-and-stats-slider {
  background:
    linear-gradient(#113161, #113161) padding-box,
    linear-gradient(
      556deg,
      rgba(54, 124, 243, 0.5) -21.93%,
      rgba(54, 124, 243, 0) 20.59%
    ),
    linear-gradient(
      420deg,
      rgba(54, 124, 243, 0.5) -14.01%,
      rgba(54, 124, 243, 0) 17.78%
    ),
    linear-gradient(
        50deg,
        rgba(54, 124, 243, 0.5) -1.83%,
        rgba(54, 124, 243, 0) 16.05%
      )
      border-box;
  border: 1px solid transparent;
}

html {
  margin: 0;
}

.svg {
  width: 16px;
  height: 16px;
  path {
    stroke: currentColor;
  }
}

.svg-currentColor {
  path {
    stroke: currentColor;
  }
}

.svg-fill-currentColor {
  path {
    fill: currentColor;
  }
}

.footer {
  .svg-fill-currentColor {
    &:hover {
      path {
        &:nth-child(1) {
          fill: #abf57a;
        }
        &:nth-child(2) {
          fill: #001831;
        }
      }
    }
    path {
      transition: all 0.4s;

      &:nth-child(1) {
        fill: white;
      }

      &:nth-child(2) {
        fill: #001831;
      }
    }
  }
}
